<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" style="color:white;">Quản lý sản phẩm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchProduct(key.value)" #key="ngModel" ngModel name="key" id="searchName"
        class="form-control mr-sm-2" placeholder="Search product..." required>
    </form>
  </div>
</nav>
<div class="container" id="main-container" style="text-align: center ;">
  <div class="row">

    <h2> Danh sách sản phẩm </h2>


    <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
      <thead>
        <tr>
          <th> Image </th>
          <th> Name </th>
          <th> Category </th>
          <th> Description</th>
          <th> Price</th>
          <th> Ngày Tạo</th>
          <th> Ngày Cập Nhật</th>
          <th> Action</th>
          <th><a (click)="openDialog(initializeValue,'add')" class="btn btn-primary tooltips" data-placement="top"
              data-original-title="Add">Add </a> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filterArray">

          <td><img [src]="getLinkPicture(product.imageurl)" alt="" border=3 height=100
              width=100></td>

          <td >{{ product.name }} </td>
          <td > {{ product.catagory ? product.catagory.name: "không có danh mục"}} </td>
          <td > {{ product.description }}</td>
          <td > {{ product.price }}</td>
          <td > {{ product.CreateAt }}</td>
          <td > {{ product.LastUpdated }}</td>
          <td>
            <a (click)="openDialog(product, 'edit')" class="btn btn-warning tooltips" data-placement="top" data-original-title="Edit">Edit </a>
            <a (click)="onDeleteProduct(product.id)" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete">Delete</a>
          </td>
          <td></td>
        </tr>
        <tr *ngIf="filterArray.length <= 0">
          <td colspan="9">
            <h3>Không tìm thấy dữ liệu</h3>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
