<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" style="color:white;">Quản lý đơn hàng</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (input)="searchAny($event)" class="form-control mr-sm-2" placeholder="Tìm kiếm" required>
    </form>
  </div>
</nav>
<div class="container" id="main-container" style="text-align: center ;">
  <div class="row">
    <table class="table table-bordered table-responsive-sm table-responsive-md
    table-responsive-lg">
      <thead>
        <tr>
          <th> Tên khách hàng </th>
          <th> Số điện thoại </th>
          <th> Ngày tạo</th>
          <th> Địa chỉ</th>
          <th>Trạng thái</th>
          <th>Hình thức</th>
          <th> Tổng đơn hàng</th>
          <th>Sản phẩm đã đặt</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!loading">
          <tr *ngFor="let order of filterArray">
            <td> <button mat-button style="padding:5px">{{ order.userId.name}} </button></td>
            <td> <button mat-button style="padding:5px"> {{ order.userId.phone}}</button> </td>
            <td id="text-wrapper">
              {{ order.CreateAt }}
            </td>
            <td id="text-wrapper" style="padding:5px">
              {{order.userId.address}}
            </td>
            <td *ngIf="order.status as status">
              <div *ngIf="status == 1;">
                <button mat-button color="warn" [matMenuTriggerFor]="menu" style="padding:5px">Chờ xác nhận</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="updateStatus(status_.cancel,order.id)">
                    <mat-icon>cancel</mat-icon>
                    <span>Hủy đơn hàng</span>
                  </button>
                  <button mat-menu-item (click)="updateStatus(status_.unpaid,order.id)">
                    <mat-icon>check</mat-icon>
                    <span>Xác nhận đơn hàng</span>
                  </button>
                </mat-menu>
              </div>
              <div *ngIf="status== 2;">
                <button mat-button color="warn" [matMenuTriggerFor]="menu" style="padding:5px">Chưa thanh toán</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="updateStatus(status_.paid,order.id)">
                    <mat-icon>check</mat-icon>
                    <span>Đã thanh toán</span>
                  </button>
                </mat-menu>
              </div>
              <div *ngIf="status == 3;">
                <h4 style="padding:5px">Đã thanh toán</h4>
              </div>
            </td>
            <td>
              <h4 style="text-transform: capitalize">{{order.orderType}}</h4>
            </td>
            <td> <button mat-button style="padding:5px">{{getCalculatedValue(order)}}</button></td>
            <td> <button mat-button color="accent" style="padding:5px" (click)="openDialog(order)">Ấn vào để
                xem</button> </td>
            <!-- <td>
              <button mat-button color="primary">Sửa</button>

              <button mat-button color="warn">Xóa</button>
            </td> -->
          </tr>
          <tr *ngIf="filterArray.length <= 0">
            <td colspan="8">
              <h3>Không tìm thấy dữ liệu</h3>
            </td>
          </tr>
        </ng-container>

        <tr *ngIf="loading">
          <td colspan="8">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <h3>Đang tải dữ liệu</h3>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
